# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/reference/supply-chain-security/dependabot-options-reference

version: 2
updates:
  # npm/yarn (/**/package.json)
  - package-ecosystem: npm
    directory: '/'
    schedule:
      interval: daily
      time: '08:00'
      timezone: Asia/Tokyo
    cooldown:
      default-days: 5
      semver-major-days: 30
      semver-minor-days: 7
      semver-patch-days: 3
    groups:
      iconify:
        patterns:
          - '@iconify-json/*'
        update-types: [minor, patch]
      lint-tools:
        dependency-type: development
        patterns:
          - 'eslint*'
          - npm-run-all2
          - prettier
        update-types: [minor, patch]
      nuxt:
        patterns:
          - '@nuxt/*'
          - 'nuxt'
        update-types: [minor, patch]
    ignore:
      - dependency-name: '@types/node'
        update-types:
          - version-update:semver-major
    commit-message:
      prefix: fix
      prefix-development: chore
      include: scope
    labels:
      - 'dependabot :robot:'
    open-pull-requests-limit: 10
    milestone: 11

  # GitHub Actions (/.github/workflows/*.yml)
  - package-ecosystem: github-actions
    directory: '/'
    schedule:
      interval: daily
      time: '08:00'
      timezone: Asia/Tokyo
    cooldown:
      default-days: 5
    commit-message:
      prefix: ci(gh-actions)
    labels:
      - 'dependabot :robot:'
    milestone: 11

  # Devcontainer Features (/.devcontainer/*)
  - package-ecosystem: devcontainers
    directory: '/'
    schedule:
      interval: daily
      time: '08:00'
      timezone: Asia/Tokyo
    cooldown:
      default-days: 5
    commit-message:
      prefix: ci(devcontainer)
    labels:
      - 'dependabot :robot:'
    milestone: 11
